// _forms.scss
@import 'variables';

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: $border-radius;

    &:focus {
        border-color: $primary-color;
        outline: none;
    }
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
